/* App.css */
.app {
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.logo {
  color: #00bcd4;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-right: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-left: 20px;
}

aside {
  width: 200px;
  background-color: #f5f5f5;
  padding: 20px;
}

.add-server {
  background-color: #00bcd4;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li {
  margin-bottom: 10px;
}

.version {
  margin-top: 20px;
  font-size: 12px;
}

main {
  display: flex;
  width: 100%;
}


.left-area {
  flex-grow: 7;
  margin-right: 20px;
}

.right-area {
  flex-grow: 3;
}

.service-grid, .os-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
}


.service-item, .os-item {
  border: 1px solid #e0e0e0;
  padding: 10px;
  text-align: center;
}

.active {
  background-color: #00bcd4;
  color: white;
}

.radio-button {
  display: inline-block;
  margin: 5px;
}

.radio-button input {
  display: none;
}

.radio-button label {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  height: 160px;
  width: 160px;
  text-align: center;
  font-size: 25px;
  aspect-ratio: 1/1;
}

.radio-button input:checked + label {
  background-color: #00bcd4;
  color: white;
}