.chat-container {
    background-color: #e0f7fa;
    width: 20%;
    padding: 10px;
    margin: 0px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: fixed;
    bottom: 20px;
}

@media screen and (max-width: 599px) {
    .chat-container {
        width: 80%;
        margin: auto
    }
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.message.user {
    justify-content: flex-end;
}

.message-bubble {
    max-width: 75%;
    padding: 10px;
    border-radius: 15px;
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message.user .message-bubble {
    background-color: #00bcd4;
    color: #fff;
}

.message .avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-image: url(/Chat/conoha-chan.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

.message.user .avatar {
    margin-left: 10px;
    margin-right: 0;
    background-image: url(/Chat/user.png);
}

.options, .options-term {
    display: flex;
    flex-direction: column;
}

.option, .option-term {
    background-color: #eceff1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

 .option-term:hover {
    background-color: #ffcc80; /* クリック時の背景色 */
}

.submit-button{
    appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 4px 16px;
  margin: 8px 0;
  font-size: 16px;
}

.root-password-input{
    border: 1px solid #dadada;
    padding: 5px 10px;
  }