.fare-container {
  max-width: 350px;
  min-width: 350px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.section {
  margin-bottom: 20px;
}
  
.section label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.section p {
  font-weight: bold;
  margin-bottom: 10px;
}
  
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}
  
.checkbox-label {
  flex: 1 1 calc(33.33% - 10px);
  position: relative;
  margin: 5px;
  padding-left: 35px; 
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.checkbox-label:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-label input:checked ~ .checkmark {
  background-color: #0097a7;
}

.checkbox-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-label .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-label input:disabled ~ .checkmark {
  background-color: #e9ecef;
  opacity: 0.3;
}

 
.select-button {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
  
.select-button.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
  
.select-button:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
  
.select-button:disabled {
  background-color: #e9ecef;
  color: #6c757d;
  cursor: not-allowed;
  border-color: #ddd;
}

.next-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #00bcd4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.next-button:hover {
  background-color: #0097a7;
}

.next-button:disabled {
  background-color: #cccccc; 
  color: #666666; 
  /*cursor: not-allowed;*/
}

.close-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff5722;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.close-button:hover {
  background-color: #e64a19;
}

.compare-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.compare-table th, .compare-table td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}

.compare-table th {
  background-color: #0097a7;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.compare-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.selected-os {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  color: #f55;
}

.real-price {
  color: #0097a7;
  font-weight: bold;
}
